body{
  background-color: rgb(166, 237, 224);
}

.app-container{
  margin: 0 auto;
  
  .habit{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    row-gap: 1.5rem;
    max-width: 500px;
    font-size: 20px;
    font-weight: 400;
    color:  rgb(5, 77, 64);
    padding-top: 50px;

    input{
      font-size: 20px;
      border-radius: 10px;
      background-color: rgb(166, 237, 224);
      border-color: rgb(5, 77, 64);
    }

    .btn{
      background-color: rgb(5, 77, 64);
      color: rgb(166, 237, 224);
      border-radius: 25px;
    }
  }


}